body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.logo {
    height: 50px;
}

.btn-login {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background-color: #f0f8ff;
}
h1 {
    color: #007bff;
}

.btn-get-started {
    padding: 15px 30px;
    background-color:#007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.services, .features, .cta, .testimonials, .faq, .contact, .footer {
    padding: 50px 20px;
    text-align: center;
}

.service-offerings, .features-list, .cta-content, .testimonial, .faq-list, .contact-form, .footer-content {
    margin-top: 20px;
}

.btn-learn-more {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;

    
  }
  
  .input-group {
    margin-bottom: 20px;
    text-align: left;
    height: 50%;
    width: 50%;
  
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  .input-group input, .input-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .input-group textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  
  